body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #b3c7ff, #0033cc);
  color: white;
  text-align: center;
  padding: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;

  align-items: center;
}

button {
  margin-top: 1rem;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  background-color: #3366ff;
  color: white;
  border: 2px solid #000099;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1a53ff;
}
